.info {
    position: fixed;
    top:10%;
    left:10%;
    right: 10%;
    padding:20px;
    text-align: center;
    // width:300px;
    background: rgba(0,0,0,0.8);
    color: #fff;
    border-radius: 10px;
    font-size: 18px;
    z-index: 10;
    word-wrap: break-word;
    

    img {
        width: 100px;
    }

}

.title {
    margin-bottom: 30px;
}

.main {
    text-align: left;
    line-height: 1.4;
}

button {
    cursor: pointer;
    border-radius: 10px;
    padding: 10px 30px;
    background: rgb(0,0,0);
    color: #fff;
    border: none;
    box-shadow: 0 0 30px rgb(255,255,255);
    margin-top: 30px;
}

@media (min-width: 500px) {
    .info {
        left:20%;
        right: 20%;
    }
}

@media (min-width: 1000px) {
    .info {
        left:30%;
        right: 30%;
    }
}